* {
  margin: 0;
  padding: 0;
}
:root {
  --logo-main-color: #4d5ae5;
  --background-color-section: #2e2f42;
  --section-heading-color: #434455;
  --background-color: #ffffff;
  --footer-color: #f4f4fd;
  --link-hover-focus: #404bbf;
  --cornflower: #e7e9fc;
  --customers-icons: #8e8f99;
  --footer-media-icons: #31d0aa;
  --modal-color: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--section-heading-color);
  line-height: 1.6;
  background-color: var(--background-color);
}
p {
  color: var(--background-color-section);
}
.logo {
  color: var(--logo-main-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo link {
  color: var(--background-color-section);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
span {
  color: var(--background-color-section);
}
.list {
  color: var(--background-color-section);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
}
.studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
}
.link {
  text-decoration: none;
}
.link-both:focus,
.link-both:hover {
  color: var(--background-color-section);
  text-decoration: none;
}
.boolean {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color-section);
  padding: 24px 0;
  display: inline-block;
  font-weight: 500;
}
.link-boolean {
  color: var(--background-color-section);
  text-decoration: none;
  padding: 24px 0;
}
.section-first {
  background-color: var(--background-color-section);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.section-first-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button-first {
  background-color: var(--logo-main-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-first:hover {
  background-color: var(--link-hover-focus);
  cursor: pointer;
}
.button-first:focus {
  background-color: var(--link-hover-focus);
  cursor: pointer;
}
.section-second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.section-second-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color);
  background-color: var(--background-color);
  font-weight: 400;
}
.section-third {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color-section);
  padding-bottom: 120px;
}
.section-third-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-fourth {
  background-color: var(--footer-color);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 120px 0;
}
img {
  display: block;
}
.img {
  max-width: 100%;
  height: auto;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color-section);
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  gap: 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.footer {
  background-color: var(--background-color-section);
  padding: 100px 0;
}
.footer-text {
  line-height: 1.5;
  color: var(--footer-color);
  letter-spacing: 0.02em;
  max-width: 264px;
}
.button-second {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--section-heading-color);
}
.header-list-focus {
  color: var(--background-color-section);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.logo-span {
  color: var(--footer-color);
}
.all {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-main-color);
  background-color: var(--footer-color);
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}
.button-first-hover {
  background-color: var(--link-hover-focus);
}
.list-text {
  color: var(--section-heading-color);
  font-weight: 400;
}
.array {
  color: var(--background-color-section);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.boolean:hover,
.boolean:focus {
  color: var(--link-hover-focus);
}
.address {
  font-style: normal;
  display: flex;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
  display: inline-block;
}
.address-link:focus,
.address-link:hover {
  color: var(--link-hover-focus);
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  align-items: center;
}
.forehead {
  border-bottom: 1px solid var(--cornflower);
  background: var(--background-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.section-second {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 72px) / 4);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.images-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-item:hover,
.images-item:focus {
  transform: translateY(0%);
}
.photo-person {
  padding: 32px 0;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.photo-portfolio {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.list-header {
  display: flex;
  gap: 40px;
}
.list-address {
  display: flex;
  gap: 40px;
  list-style: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-section-second {
  display: flex;
  gap: 24px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.list-images {
  display: flex;
  gap: 24px;
}
.calf {
  display: inline-block;
  margin-bottom: 16px;
}
.hip {
  display: flex;
  gap: 24px;
}
.shoulder {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.all:hover,
.all:focus {
  border: 1px solid transparent;
  color: var(--background-color);
  background-color: var(--link-hover-focus);
  cursor: pointer;
}
.waist {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-second-wrist {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--section-heading-color);
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--footer-color);
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-media-icons {
  width: 40px;
  height: 40px;
}
.media-icons {
  width: 100%;
  height: 100%;
  background-color: var(--logo-main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.media-icons:hover,
.media-icons:focus {
  background-color: var(--link-hover-focus);
}
.icons-style {
  fill: var(--footer-color);
}
.section-fifth {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-fifth-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--background-color-section);
  margin-bottom: 72px;
  text-align: center;
}
.customers-icons {
  display: flex;
  gap: 24px;
}
.customers-icons-column {
  width: calc((100% - 120px) / 6);
  height: 88px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-box {
  width: 100%;
  height: 100%;
  border: 1px solid var(--customers-icons);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customers-icons);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-box:hover,
.icons-box:focus {
  border-color: var(--link-hover-focus);
  color: var(--link-hover-focus);
}
.customers-icon-style {
  fill: currentColor;
}
.foot-container {
  display: flex;
  align-items: baseline;
}
.footer-studio {
  margin-right: 120px;
}
.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 16px;
}
.footer-social-media {
  display: flex;
  gap: 16px;
}
.footer-social-media-icons {
  height: 40px;
  width: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media-icons {
  width: 100%;
  height: 100%;
  background-color: var(--logo-main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media-icons:hover,
.footer-media-icons:focus {
  background-color: var(--footer-media-icons);
}
.footer-icons-style {
  fill: var(--footer-color);
}
.box-image {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-image:hover .cards-text,
.box-image:focus .cards-text {
  transform: translateY(0%);
}
.box-image:hover,
.box-image:focus {
  transform: translateY(0%);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.all-both {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.all-both:hover,
.all-both:focus {
  background-color: var(--link-hover-focus);
}

.page {
  position: relative;
  color: var(--link-hover-focus);
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--link-hover-focus);
  border-radius: 2px;
  width: 100%;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: var(--link-hover-focus);
  fill: var(--background-color);
}
.close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-box {
  position: relative;
  overflow: hidden;
}
.cards-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color);
  padding: 40px 32px;
  background-color: var(--logo-main-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.subscribe-text {
  display: flex;
  gap: 24px;
}
.subscribe-label {
  gap: 24px;
  display: block;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--background-color);
  gap: 24px;
}
.subscribe-button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--logo-main-color);
  border: none;
  border-radius: 4px;
  min-width: 165px;
}
.icon-send {
  margin-left: 16px;
}
.modal-contacts {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
  color: var(--customers-icons);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icons:hover,
.modal-icons:focus {
  fill: var(--logo-main-color);
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--logo-main-color);
}
.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-icons);
  display: block;
}
.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--logo-main-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}
.send-button:hover {
  background-color: var(--link-hover-focus);
}
.wrapper {
  margin-bottom: 8px;
}
.wrapper-input {
  position: relative;
}
.wrapper-input:focus-within {
  fill: var(--logo-main-color);
}
.modal-input:focus {
  border-color: var(--logo-main-color);
}
.modal-comment {
  margin-bottom: 16px;
}
.privacy-input {
  fill: var(--logo-main-color);
}
.modal-privacy {
  margin-bottom: 24px;
}
.privacy-policy {
  color: var(--logo-main-color);
  text-decoration: underline;
}
.check-icon {
  gap: 8px;
}
.privacy-input:checked + .privacy-label .checkbox-span {
  background-color: var(--link-hover-focus);
  border: none;
  fill: var(--footer-color);
}
.subscribe-window {
  margin-left: 80px;
}
.subscribe-button:hover {
  background-color: var(--link-hover-focus);
  cursor: pointer;
}
